<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
    <title>Rango</title>
</head>
<body>

    <h1>Rango says..</h1>
    <div>
        hey there partner! <br/>
        <strong>{{ boldmessage }}</strong>
    </div>

    <div>
        <!-- if categories has any element in it: -->
        <!-- these brackets for Django commands -->
        {% if categories %} 
            <ul>
                {% for category in categories %}
                <!-- to display the category name from the list: -->
                <!-- these bracket for Django variables which will be placed on page-->
                    <li>{{ category.name }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        </div>

        <dir>
            <a href="/rango/about/">About</a>
            <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango"/>
    </div>
    
</body>
</html>